<div class="relative h-screen">
  <img src="https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg" class="absolute w-full h-full object-cover">
  <div class="absolute inset-0 flex justify-center items-center">
    <div class="w-full max-w-md p-12 bg-black text-white rounded-3xl bg-opacity-70 flex flex-col items-center">
      <h1 class="font-bold text-3xl py-4">
        Netflix Sign In
      </h1>

      <div id="g_id_onload"
           data-client_id="398716606316-tbtn2jvb8a5uq0t1nblj68ii732hfca1.apps.googleusercontent.com"
           data-context="signin"
           data-ux_mode="popup"
           data-callback="onSignIn"
           data-auto_prompt="false">
      </div>

      <div class="g_id_signin"
           data-type="standard"
           data-shape="rectangular"
           data-theme="filled_blue"
           data-text="signin_with"
           data-size="large"
           data-logo_alignment="left">
      </div>
<!--      <button class="mt-4 px-4 py-2 bg-red-600 text-white rounded">Sign In</button>-->
    </div>
  </div>
</div>
