<app-header
  [profileImg]="this.profileImage"
  [userName]="this.userName"
></app-header>
<app-banner
[videoKey]="this.bannerVideoKey"
[movie]="this.bannerMovie"
></app-banner>
<app-movie-slider
  [videos]="this.popularMovies"
  [title]="'Popular Movies'"
></app-movie-slider>

<app-movie-slider
  [videos]="this.tvShows"
  [title]="'Trending Tv Shows'"
></app-movie-slider>

<app-movie-slider
  [videos]="this.nowPlayingMovies"
  [title]="'Now Playing Movies'"
></app-movie-slider>

<app-movie-slider
  [videos]="this.upcomingMovies"
  [title]="'Upcoming Movies'"
></app-movie-slider>

