<div class=" overflow-visible p-8">
  <p class="text-white text-2xl mb-4 px-2">{{ this.title }}</p>
  <div class="flex justify-between relative">
    <div class="w-full items-center max-h-[80%]">
      <button class="h-20 hover:opacity-100 opacity-45 transition-opacity duration-300 absolute bg-white z-30 left-[3%] top-[35%] text-black bg-opacity-60 p-1 md:p-2 lg:p-3"
              (click)="skipSlides('prev')">
        <i class="fas fa-chevron-left text-2xl md:text-3xl lg:text-4xl w-8 "></i>
      </button>
      <button class="h-20 hover:opacity-100 opacity-45 transition-opacity duration-300 absolute bg-white z-30 left-[90%] top-[35%] text-black bg-opacity-60 p-1 md:p-2 lg:p-3"
              (click)="skipSlides('next')">
        <i class="fas fa-chevron-right text-2xl md:text-3xl lg:text-4xl w-8 "></i>
      </button>
      <ngx-slick-carousel class="carousel relative overflow-visible"
                          #slickModal="slick-carousel"
                          [config]="slideConfig">
        <div ngxSlickItem *ngFor="let video of videos" class="px-2" >
            <div class="relative group" (click)="this.openModal(video)">
              <div class="bg-gray-800 rounded-md transform transition-transform duration-300 group-hover:scale-105 group-hover:z-50 overflow-visible">
                <img src="{{ video.poster_path | image }}" alt="Movie Poster"
                     class="w-full h-full object-cover rounded-md "/>
              </div>
              <div class="video-info">
                <h3 class="text-lg font-bold">{{ (!video.title || video.title === '') ? video.original_name : video.title }}</h3>
                <p class="text-sm">{{ video.overview | description:200 }}</p>
              </div>
            </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
